# mattermost backup configuration

## Mattermost path
mattermostDir="opt/mattermost"

## path to mattermost local backup directory
localBackupDir="/var/dumps/mattermost/"

## path to mattermost backup directory on backup storage server
remoteBackupDir="/var/dumps/mattermost/"

# backup storage server host
sshHost=

# backup storage server port
sshPort="22"

# backup storage server connect user
sshUser=root

# path to ssh key for connect to backup storage server
sshKeyPath=

# ssh passphrase
sshPassphrase=
